@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Roboto+Condensed:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;

}
body, html {
    height: 100%;
}
body{
    font-family: 'Didact Gothic', sans-serif;
    font-weight: 300;
    color: white;

}
 
/* headings and logo */
h1, h2, h3{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}

#logo{
    font-weight: bold;
    font-size: 400%;
    float: left;
    margin-left: 30px;
    color: rgb(235, 99, 8)

}

/* navigation links*/

#menu{
    font-size: 110%;
    letter-spacing: 2px;
    color: #3a3a3a;


}

#menu, #logo{
    line-height: 75px;


}
#menu li{
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 1px solid rgb(235, 99, 8);
}

.active{
    border-bottom: 1px solid rgb(235, 99, 8);
}
/* hero-image */
#hero-outer{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

}
#hero-image {
    background: url('../images/pexels-rachel-claire-5865312.jpg') no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: cover;
}

#hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 40%;
    color: white;
    font-size: 200%;
    letter-spacing: 5px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);

}

  /* button style */
#book{
    text-decoration: none;
    color: white; 
    border: solid 1px black; 
    background-color: rgb(235, 99, 8);
    font-size: 16px;
    padding: 16px 32px;
    text-align: center;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
    opacity: 0.6;
  
}
#book:hover {
    opacity: 1;   
}

/* times and contact */
#times{
    position: absolute;
    left: 30px;
    bottom: 70px; 
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 1px black; 
    padding: 20px;
    width: 250px;
}

#times li{
    list-style-type: none;
    text-align: left;
}
#contact{
    position: absolute;
    right: 30px;
    bottom: 70px; 
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 1px black; 
    padding: 20px;
    width: 250px;
    
}
#contact li{
    list-style-type: none;
    text-align: center;   
}
/* footer */

footer{
    height: 80px;
}
.social-networks{
    text-align: center;
}
.social-networks > li{
    display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: rgb(235, 99, 8);
}
/*style for coctail menu */

#bar-menu{
    color:#3a3a3a;
    text-align: center;
    padding-top: 8%;
}

#list{
    border-bottom: solid 2px rgb(235, 99, 8);
    border-top: solid 2px rgb(235, 99, 8);
    padding: 30px;
    font-size: 200%;
}
.cocktail{
    padding-bottom: 30px;
}
.cocktail li{
    list-style-type: none;
}
.items{
    text-transform: uppercase;
    color: rgb(235, 99, 8);
    
}
.ingredients{
    text-transform: capitalize; 
}

/*style for form */
#form{
    padding-top: 8%;
    padding-bottom: 4%;
 
}
#container {
    background:rgba(0, 0, 0, .5);
    padding: 20px;
    width: 25%;
    height: 600px;
    overflow: hidden;
    position: relative;
    float: left;

      
}
#picture{
    position: relative;
    height: 640px;
    overflow: hidden;
    float: left;
}
#make{
    border-bottom: 1px solid rgb(235, 99, 8);
    text-align: center;
}
input[type=text], [type=tel], [type=number], [type=date], select{
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
}
input[type=submit] {
    background-color: rgb(235, 99, 8);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: rgb(204, 87, 9);
}
/* thank you for your booking style */
.thanks i{
    color: rgb(235, 99, 8);
    font-size: 140%;
}
.thanks{
    color: #3a3a3a;
    margin-top: 50px;
    margin-left: 30px;
}

/* Media queries */
/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #list{
        border-top: none;
        padding-top: 100px;
    }
    #hero-text {
        padding-top: 70%;
    }
    #times{
        bottom: 250px;  
    }
    #contact{
        left: 30px; 
        right: auto;
        bottom: 10px;
    }
    #container{
        width: 70%;
        margin-bottom: 10px;
        height: auto;
        left: 15%;
    }
    #picture{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: auto;
        left: 15%;
    }
}
/* For small screen sizes 600px and down */
@media screen and (max-width: 600px) {
    #menu{
        padding: 0;
        display: block;
        width: 200px;
        text-align: right;  
        position: absolute; 
        right: 0%;
    }
    #hero-text {
        padding-top: 70%;
    }
    #book{
        display: none;
    }
    #times{
        bottom: 200px;  
        height: 80px;
    }
    #contact{
        left: 30px; 
        height: 100px;  
    }
    #picture{
        display: none;
    }
    #container{
        margin-top: 100px;
        left: 20px;
    }
}

